
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.frame-profil-historia-objednavok-Cuz {
  background-color: #f5f5f5;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-kinx-8Yk {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
    height: 5.7rem;
    font-weight: 700;
    align-items: center;
    background-color: #77007a;
  }
  .auto-group-vvkr-RXr {
    box-sizing: border-box;
    padding: 4.3rem 5.1rem 20.3rem 4.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-qemj-9Tr {
      width: 100%;
      align-items: center;
      border: solid 0.05rem #000000;
      margin-bottom: 2.3rem;
      padding: 1.3rem 0.4rem 0.3rem 0.5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #bdf7ff;
      border-radius: 0.2rem;
      flex-shrink: 0;
      box-sizing: border-box;
      display: flex;

      .icon-person-outline-fwz {
        flex-shrink: 0;
        margin: 0rem 0.469rem 1.082rem 0rem;
        width: 3.2308rem;
        height: 3.3175rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-7a9a-yBz {
        margin-top: 0.6rem;
        width: 21.4rem;
        height: 3.8rem;
        position: relative;
        flex-shrink: 0;

        .ondrus-htg {
          font-size: 2rem;
          font-weight: 700;
          font-family: Poppins, 'Source Sans Pro';
          width: 7.6rem;
          height: 3rem;
          top: 0;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 10.3rem;
          line-height: 1.5;
        }
        .sebastian-cVr {
          height: 3rem;
          left: 0;
          top: 0;
          font-size: 2rem;
          color: #000000;
          width: 10.5rem;
          position: absolute;
          font-weight: 700;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .sebastianondrusgmailcom-X72 {
          width: 18.6rem;
          top: 2rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.6000000238);
          white-space: nowrap;
          height: 1.8rem;
          position: absolute;
          left: 2.8rem;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .edit-button-MLx {
      display: flex;
      align-items: center;
      border-radius: 0.4rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 10rem);
      border: solid 0.05rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      margin: 0rem 5rem 1.4rem 5rem;
      padding: 0.5rem 4.7rem 0.4rem 0.6rem;

      .icon-user-edit-rYc {
        flex-shrink: 0;
        margin: 0rem 0.8rem 0.1rem 0rem;
        width: 2.4998rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .upravi-profil-aDi {
        cursor: pointer;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.4rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .log-out-button-37J {
      margin: 0rem 5rem 2.3rem 5rem;
      align-items: center;
      border: solid 0.05rem #000000;
      flex-shrink: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.4rem;
      box-sizing: border-box;
      padding: 0.7rem 5.6rem 0.4rem 0.8rem;
      width: calc(100% - 10rem);
      cursor: pointer;
      display: flex;

      .icon-sign-out-LMJ {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.061rem 0.1rem 0rem;
        width: 2.0393rem;
        height: 1.8rem;
        object-fit: contain;
      }
      .odhlsi-sa-Sv8 {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
      }
    }
    .frame-5-vKW {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      row-gap: 0.6rem;

      .kontakt-4Ri {
        padding: 0.1rem 0.7rem 0.1rem 1.2rem;
        width: 100%;
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: solid 0.05rem #000000;
        background-color: #bdf7ff;

        .kontakt-bRe {
          margin-right: 17.6rem;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 2.5454545455;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .icon-chevron-right-Xq6 {
          margin-bottom: 0.0562rem;
          width: 2rem;
          height: 1.1438rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .historia-Qtt {
        cursor: pointer;
        display: flex;
        border: solid 0.05rem #000000;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.2rem;
        box-sizing: border-box;
        width: 100%;
        background-color: #bdf7ff;
        flex-shrink: 0;
        padding: 0.1rem 0.7rem 0.1rem 1.2rem;
        align-items: center;

        .histria-objednvok-wtp {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 10.8rem;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 2.5454545455;
        }
        .icon-chevron-right-Gw6 {
          margin-bottom: 0.0562rem;
          width: 2rem;
          height: 1.1438rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .group-2-m7A {
        box-sizing: border-box;
        padding: 0.445rem 0.6rem 0.855rem 0.6rem;
        width: 100%;
        border: solid 0.05rem #000000;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: rgba(189, 247, 255, 0.3000000119);
        border-radius: 0.2rem;
        flex-shrink: 0;

        .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k {
          font-size: 1rem;
          font-weight: 400;
          line-height: 2;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          max-width: 16.8rem;

          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-0 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1rem;
            font-weight: 600;
            line-height: 2;
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-1 {
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-2 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 2;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-3 {
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-4 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 2;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-5 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 2;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-6 {
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-7 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 2;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-8 {
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-9 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 2;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .zkladn-24-hod-30102023-13-53-zavnen-30-min-21102023-9-21-zavnen-7-dni-12102023-6-36-bicykel-10102023-16-28-zkladn-60-min-10102023-16-27-W4k-sub-10 {
          }
        }
      }
      .historia-DHv {
        width: 100%;
        align-items: center;
        border: solid 0.05rem #000000;
        flex-shrink: 0;
        background-color: #bdf7ff;
        border-radius: 0.2rem;
        box-sizing: border-box;
        padding: 0.1rem 0.7rem 0.1rem 1.2rem;
        cursor: pointer;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .nastavenia-Yqz {
          font-weight: 600;
          line-height: 2.5454545455;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 15.6rem;
          font-size: 1.1rem;
        }
        .icon-chevron-right-gBW {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.0562rem;
          width: 2rem;
          height: 1.1438rem;
          object-fit: contain;
        }
      }
      .historia-khA {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #bdf7ff;
        flex-shrink: 0;
        padding: 0.1rem 0.7rem 0.1rem 1.2rem;
        cursor: pointer;
        border: solid 0.05rem #000000;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.2rem;

        .najastejie-otzky-6W8 {
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 2.5454545455;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11.2rem;
        }
        .icon-chevron-right-RYQ {
          width: 2rem;
          height: 1.1438rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.0562rem;
        }
      }
    }
  }
  .auto-group-cg7w-hkp {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    background-color: rgba(237, 237, 237, 0.8000000119);
    border: solid 0.1rem rgba(0, 0, 0, 0.8000000119);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 0.976rem 4.8rem 0.85rem 4.4rem;
    align-items: center;

    .icon-contact-card-EEx {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 8.634rem 0.18rem 0rem;
      width: 3.5665rem;
      height: 2.7467rem;
    }
    .icon-receipt-9Mv {
      height: 3.2rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 8.616rem 0.126rem 0rem;
      width: 2.7535rem;
    }
    .auto-group-yot2-rn8 {
      width: 3.2308rem;
      height: 4.1737rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
