
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.frame-platba-4-o8Q {
  background-color: #f5f5f5;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-2hos-XaC {
    background-color: #77007a;
    flex-shrink: 0;
    width: 100%;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.7rem;
    font-size: 2rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
  }
  .auto-group-kq2u-DT2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 14.4rem 2.8rem 1.9rem 2.2rem;
    width: 100%;
    align-items: center;

    .frame-308-jRN {
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.6rem;
      width: 30.4rem;
      row-gap: 2.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-6034-eYL {
        flex-direction: column;
        box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
        border-radius: 0.6rem;
        flex-shrink: 0;
        width: 100%;
        display: flex;

        .meno-vlastnka-Cpk {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
        }
        .group-6033-LAG {
          box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 15.7rem 1rem 1.3rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fffdff;

          .icon-profile-circled-Fo2 {
            margin-right: 0.9rem;
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .sebastian-BAt {
            flex-shrink: 0;
            margin-right: 0.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #77007a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .ondrus-Wix {
            font-weight: 400;
            line-height: 1.5;
            color: #77007a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
          }
        }
      }
      .group-6034-iKE {
        box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        .slo-karty-59n {
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          font-size: 1.2rem;
        }
        .group-6033-13S {
          padding: 1rem 15.3rem 1rem 1.3rem;
          width: 100%;
          display: flex;
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
          background-color: #fffdff;
          align-items: center;

          .icon-credit-card-X1n {
            margin: 0rem 0.9rem 0.08rem 0rem;
            width: 1.6rem;
            height: 1.12rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-4131-3545-1235-1245-hqN {
            line-height: 1.5;
            color: #77007a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }
      .frame-309-KLx {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 6.3rem;
        display: flex;

        .group-6034-fvc {
          margin-right: 2.2rem;
          width: 14.1rem;
          height: 100%;
          box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
          flex-shrink: 0;

          .platnos-cax {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.7rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
          }
          .auto-group-6y5j-956 {
            width: 100%;
            height: 3.8rem;
            position: relative;

            .group-6033-6W8 {
              left: 0;
              box-sizing: border-box;
              position: absolute;
              height: 3.8rem;
              top: 0;
              box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
              background-color: #fffdff;
              border-radius: 0.6rem;
              padding: 1.3rem;
              width: 14.1rem;

              .icon-calendar-RoJ {
                width: 1.1368rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .mm-yy-i1i {
              left: 6.4rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              width: 4.1rem;
              height: 1.8rem;
              color: #77007a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              top: 1rem;
            }
          }
        }
        .group-6035-yCY {
          box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
          border-radius: 0.6rem;
          flex-shrink: 0;
          width: 14.1rem;
          height: 100%;

          .cvv-vtU {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.7rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .group-6033-fr4 {
            font-weight: 400;
            white-space: nowrap;
            display: flex;
            text-align: center;
            font-size: 1.2rem;
            font-family: Poppins, 'Source Sans Pro';
            box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
            width: 100%;
            line-height: 1.5;
            border-radius: 0.6rem;
            height: 3.8rem;
            align-items: center;
            background-color: #fffdff;
            color: #77007a;
            justify-content: center;
          }
        }
      }
    }
    .group-6036-dRW {
      margin: 0rem 4.5rem 2.554rem 0rem;
      width: 25.3rem;
      flex-shrink: 0;

      .auto-group-2o1e-kW8 {
        width: calc(100% - 11.1rem);
        height: 1.8462rem;
        display: flex;
        align-items: center;
        margin: 0rem 11.1rem 2.454rem 0rem;

        .switch-sKr {
          flex-shrink: 0;
          margin-right: 0.9rem;
          width: 3rem;
          height: 100%;
          cursor: pointer;
          position: relative;
          box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);

          .track-cYL {
            width: 3rem;
            height: 1.8rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #77007a;
            border-radius: 10rem;
          }
          .handle-MF2 {
            background-color: #ffffff;
            border-radius: 2.3rem;
            width: 1.2rem;
            height: 1.2rem;
            position: absolute;
            left: 1.4rem;
            top: 0.3rem;
          }
        }
        .zapamta-kartu-SXN {
          flex-shrink: 0;
          margin-bottom: 0.0462rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-pvlk-mZe {
        display: flex;
        align-items: center;
        width: 100%;
        height: 1.8462rem;

        .switch-vSY {
          box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
          flex-shrink: 0;
          margin-right: 0.9rem;
          width: 3rem;
          height: 100%;
          cursor: pointer;
          position: relative;

          .track-ff2 {
            height: 1.8rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #77007a;
            border-radius: 10rem;
            width: 3rem;
          }
          .handle-R8Q {
            left: 1.4rem;
            top: 0.3rem;
            background-color: #ffffff;
            border-radius: 2.3rem;
            width: 1.2rem;
            height: 1.2rem;
            position: absolute;
          }
        }
        .zosla-potvrdenie-o-platbe-na-email-vL4 {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0462rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .line-6-SZJ {
      margin: 0rem 0.8rem 2.5rem 0rem;
      width: 26.2rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-af4g-B16 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.2rem 2.1rem 0rem;
      width: calc(100% - 0.2rem);
      height: 3.3rem;
      display: flex;

      .group-6027-giY {
        margin-right: 0.1rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .suma-na-zaplatenie-q5e {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 11.3rem 0.2rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .item-0-Z1e {
          text-align: right;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #77007a;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .item--hNk {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.5;
        color: #77007a;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .frame-9-dXJ {
      border-radius: 1.2rem;
      flex-shrink: 0;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      background-color: #77007a;
      margin: 0rem 0rem 1.9rem 0.6rem;
      width: 30.4rem;
      height: 4.4rem;
      font-size: 1.6rem;
      cursor: pointer;
      line-height: 1.5;
      align-items: center;
      box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.150000006), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3000000119);
      font-weight: 600;
      white-space: nowrap;
      justify-content: center;
    }
    .icon-back-square-FYg {
      flex-shrink: 0;
      margin-left: 0.7rem;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-p99e-BBS {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    padding: 0.976rem 4.7rem 1.4rem 4.5rem;
    display: flex;
    align-items: center;
    background-color: rgba(237, 237, 237, 0.8000000119);
    box-sizing: border-box;
    width: 100%;
    border: solid 0.1rem rgba(0, 0, 0, 0.8000000119);

    .icon-contact-card-uNL {
      margin: 0.37rem 8.634rem 0rem 0rem;
      width: 3.5665rem;
      height: 2.7467rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icon-receipt-Rba {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.424rem 8.616rem 0rem 0rem;
      width: 2.7535rem;
      height: 3.2rem;
    }
    .icon-person-outline-9Xa {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.3061rem;
      width: 3.2308rem;
      height: 3.3175rem;
      object-fit: contain;
    }
  }
}
