
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.frame-dopravna-karta-BJ4 {
  flex-direction: column;
  background-color: #f5f5f5;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-wswa-vFe {
    flex-shrink: 0;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
    background-color: #77007a;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 5.7rem;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
  }
  .auto-group-v2ha-RTJ {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.3rem 5rem 40.2rem 5rem;

    .karta-wRe {
      padding: 1.6rem 1.8rem 1rem 1.8rem;
      align-items: center;
      background-color: #bdf7ff;
      display: flex;
      flex-direction: column;
      border: solid 0.05rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 0.2rem;
      margin-bottom: 2.9rem;
      box-sizing: border-box;
      width: 100%;
      flex-shrink: 0;

      .auto-group-tjuz-Tun {
        margin: 0rem 2.4rem 4.153rem 0rem;
        width: calc(100% - 2.4rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-contact-card-bFJ {
          margin-right: 2.2335rem;
          width: 3.5665rem;
          height: 2.7467rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .meno-a-priezbvisko-uWt {
          align-items: center;
          flex-shrink: 0;
          margin-top: 0.5533rem;
          display: flex;

          .sebastian-EJG {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.5rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
          }
          .ondrus-7sr {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-52lc-7mN {
        width: calc(100% - 5.9rem);
        height: 4.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 4.6rem 0rem 1.3rem;

        .auto-group-299v-dji {
          position: relative;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 5.5rem;
          height: 100%;

          .typ-karty-AUk {
            font-family: Poppins, 'Source Sans Pro';
            width: 4.8rem;
            height: 1.7rem;
            font-size: 1.1rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6000000238);
            position: absolute;
            left: 0;
            top: 1.4rem;
            line-height: 1.5;
            white-space: nowrap;
          }
          .platn-do-Fm6 {
            left: 0;
            color: rgba(0, 0, 0, 0.6000000238);
            font-family: Poppins, 'Source Sans Pro';
            width: 5.4rem;
            height: 1.7rem;
            position: absolute;
            top: 2.8rem;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.5;
            white-space: nowrap;
          }
          .slo-karty-xQc {
            width: 5.5rem;
            left: 0;
            top: 0;
            font-size: 1.1rem;
            font-weight: 400;
            height: 1.7rem;
            position: absolute;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.6000000238);
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-y65a-4yS {
          width: 10rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .preukaz-tudenta-cEG {
            position: absolute;
            left: 0;
            font-size: 1.1rem;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            width: 9.9rem;
            height: 1.7rem;
            top: 1.4rem;
            font-weight: 600;
            white-space: nowrap;
          }
          .item-2462024-gE8 {
            width: 5.4rem;
            height: 1.7rem;
            position: absolute;
            left: 0;
            top: 2.8rem;
            font-weight: 600;
            line-height: 1.5;
            font-size: 1.1rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-43-21433-6432-253-nnx {
            left: 0;
            font-size: 1.1rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            width: 10rem;
            position: absolute;
            font-weight: 600;
            color: #000000;
            white-space: nowrap;
            height: 1.7rem;
            top: 0;
          }
        }
      }
    }
    .edit-button-pje {
      padding: 0.7rem 5.2rem 0.4rem 0.9rem;
      width: calc(100% - 10rem);
      display: flex;
      border: solid 0.05rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 5rem 0.9rem 5rem;
      box-sizing: border-box;
      cursor: pointer;
      align-items: center;
      border-radius: 0.4rem;

      .icon-edit-pencil-7Tr {
        margin: 0rem 0.8rem 0.3rem 0rem;
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .upravi-kartu-2qi {
        margin-top: 0.2rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .delete-button-76U {
      box-sizing: border-box;
      padding: 0.7rem 4rem 0.4rem 0.9rem;
      width: calc(100% - 10rem);
      align-items: center;
      border: solid 0.05rem #000000;
      flex-shrink: 0;
      margin: 0 5rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.4rem;

      .icon-delete-q2U {
        flex-shrink: 0;
        margin: 0rem 0.8rem 0.3rem 0rem;
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .odstrni-kartu-kQL {
        margin-top: 0.2rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-w23n-1bA {
    box-sizing: border-box;
    padding: 0.976rem 4.8rem 0.85rem 4.4rem;
    display: flex;
    background-color: rgba(237, 237, 237, 0.8000000119);
    width: 100%;
    align-items: center;
    border: solid 0.1rem rgba(0, 0, 0, 0.8000000119);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;

    .auto-group-jkeg-jn4 {
      height: 3.55rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.624rem 8.634rem 0rem 0rem;
      width: 3.5665rem;
    }
    .icon-receipt-SgU {
      flex-shrink: 0;
      margin: 0rem 8.616rem 0.126rem 0rem;
      width: 2.7535rem;
      height: 3.2rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-person-outline-XC8 {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.8562rem;
      width: 3.2308rem;
      height: 3.3175rem;
      cursor: pointer;
      object-fit: contain;
    }
  }
}
