
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.nakup-listka-zklad-mkQ {
  background-color: #f5f5f5;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .frame-XNC {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 2.5rem;
    width: 100%;
    overflow: hidden;

    .frame-3tG {
      width: 100%;
      position: relative;
      line-height: 1.5;
      color: #ffffff;
      align-items: center;
      flex-shrink: 0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      height: 5.7rem;
      font-size: 2rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #77007a;
    }
    .auto-group-v1re-a12 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.5rem 2rem 0rem 2rem;
      width: 100%;

      .kredit-pvx {
        margin-bottom: 2.1rem;
        width: 100%;
        height: 6.3rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-3-7fA {
          height: 4.5863rem;
          top: 1.7137rem;
          border: solid 0.05rem #000000;
          box-sizing: border-box;
          border-radius: 0.8rem;
          width: 32rem;
          position: absolute;
          left: 0;
          background-color: #ffffff;
        }
        .item-430-vcc {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          left: 4.2rem;
          height: 3rem;
          position: absolute;
          top: 2.9rem;
          white-space: nowrap;
          width: 4.5rem;
        }
        .zostvajci-kredit-Mxp {
          left: 0.9rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          width: 13.1rem;
          height: 2.1rem;
          position: absolute;
          color: rgba(0, 0, 0, 0.6000000238);
          white-space: nowrap;
          top: 0;
          font-size: 1.4rem;
          font-weight: 700;
        }
        .icon-funds-trG {
          width: 1.8462rem;
          height: 1.6986rem;
          position: absolute;
          left: 1.2rem;
          top: 3.1575rem;
          object-fit: contain;
          vertical-align: top;
        }
        .icon-add-circle-plus-jbz {
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
          cursor: pointer;
          position: absolute;
          left: 28rem;
          top: 2.8rem;
        }
      }
      .aktvne-listky-Byn {
        margin-bottom: 6.4rem;
        padding: 0.9rem 0rem 1.95rem 0rem;
        flex-direction: column;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        display: flex;
        border: solid 0.05rem #000000;
        background-color: rgba(0, 0, 0, 0.200000003);

        .auto-group-jd1w-GVS {
          flex-shrink: 0;
          margin: 0rem 1.7rem 0.5rem 1rem;
          width: calc(100% - 2.7rem);
          height: 3.1rem;
          position: relative;

          .iaden-zakpen-lstok-YC4 {
            width: 16.8rem;
            left: 2.6rem;
            line-height: 1.5;
            white-space: nowrap;
            font-family: Poppins, 'Source Sans Pro';
            height: 2.1rem;
            position: absolute;
            top: 0.7rem;
            font-size: 1.4rem;
            font-weight: 700;
            color: #000000;
          }
          .icon-ticket-pass-CJY {
            height: 1.4rem;
            position: absolute;
            left: 0;
            top: 0.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 2rem;
          }
          .icon-scan-qr-code-gzQ {
            left: 27.3rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            position: absolute;
          }
          .progressbar-listok-BRN {
            width: 28rem;
            height: 0.4rem;
            position: absolute;
            left: 1.1rem;
            top: 2.7rem;
            background-color: #e9e9e9;
            border-radius: 10rem;

            .rectangle-Ghi {
              width: 100%;
              height: 0.4rem;
              background-color: #fb2d00;
              border-radius: 10rem;
            }
          }
        }
        .line-1-ksn {
          flex-shrink: 0;
          width: 100%;
          height: 0.05rem;
          background-color: #000000;
        }
      }
      .frame-2aQ {
        align-items: center;
        border: solid 0.05rem #000000;
        background-color: #ffffff;
        border-radius: 0.8rem;
        flex-shrink: 0;
        padding: 2.1rem 3.2rem 3.7rem 3.2rem;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        display: flex;

        .vyber-typu-listka-Y2x {
          margin: 0rem 5.8rem 4.2rem 6.2rem;
          width: calc(100% - 12rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-4czs-FTA {
            position: relative;
            flex-shrink: 0;
            margin: 0.1rem 0.6rem 0rem 0rem;
            width: 5.9rem;
            height: 1.9rem;

            .zkladn-yPA {
              position: absolute;
              top: 0;
              line-height: 1.5;
              width: 5.9rem;
              height: 1.8rem;
              font-weight: 700;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              left: 0;
              font-size: 1.2rem;
            }
            .rectangle-5-4fW {
              width: 5rem;
              height: 0.3rem;
              position: absolute;
              left: 0.2rem;
              top: 1.6rem;
              background-color: #fb2d00;
              border-radius: 1.2rem;
            }
          }
          .line-2-BVE {
            margin: 0rem 1rem 0.3rem 0rem;
            width: 0.1rem;
            height: 1.7rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .zavnen-K5e {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
          }
        }
        .frame-3-r5a {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          row-gap: 3rem;

          .frame-1-AMA {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2.3rem;
            align-items: center;
            flex-shrink: 0;

            .komponet-listku-hM6 {
              flex-shrink: 0;
              height: 100%;
              position: relative;
              border: solid 0.05rem #000000;
              border-radius: 0.8rem;
              background-color: #fafafa;
              width: 7rem;
              cursor: pointer;
              box-sizing: border-box;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

              .rectangle-8-SZa {
                border: solid 0.05rem #000000;
                background-color: #fb2d00;
                width: 7rem;
                height: 2.4rem;
                position: absolute;
                left: 0;
                top: 5.6rem;
                box-sizing: border-box;
                border-radius: 0 0 0.8rem 0.8rem;
              }
              .min-wmE {
                height: 4.5rem;
                top: 1.4rem;
                line-height: 1.2102272511;
                font-family: Inter, 'Source Sans Pro';
                width: 2.6rem;
                position: absolute;
                left: 2.2rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 700;
                color: #000000;

                .min-wmE-sub-0 {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .min-wmE-sub-1 {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .item-070--CDJ {
                height: 1.8rem;
                position: absolute;
                left: 1.45rem;
                top: 6rem;
                font-weight: 600;
                white-space: nowrap;
                width: 4.1rem;
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .komponet-listku-1Ak {
              position: relative;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              border-radius: 0.8rem;
              background-color: #fafafa;
              flex-shrink: 0;
              width: 7rem;
              height: 100%;
              cursor: pointer;
              border: solid 0.05rem #000000;
              box-sizing: border-box;

              .rectangle-8-kPE {
                top: 5.6rem;
                box-sizing: border-box;
                background-color: #fb2d00;
                border-radius: 0 0 0.8rem 0.8rem;
                width: 7rem;
                position: absolute;
                border: solid 0.05rem #000000;
                height: 2.4rem;
                left: 0;
              }
              .min-4Pv {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                position: absolute;
                left: 2.2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.2102272511;
                width: 2.6rem;
                height: 4.5rem;
                top: 1.4rem;
                text-align: center;

                .min-4Pv-sub-0 {
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 700;
                }
                .min-4Pv-sub-1 {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .item-070--N3E {
                width: 3.9rem;
                left: 1.55rem;
                font-weight: 600;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                height: 1.8rem;
                position: absolute;
                top: 6rem;
                text-align: center;
                font-size: 1.2rem;
              }
            }
            .komponet-listku-R1W {
              height: 100%;
              border: solid 0.05rem #000000;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #fafafa;
              border-radius: 0.8rem;
              flex-shrink: 0;
              width: 7rem;
              cursor: pointer;
              position: relative;
              box-sizing: border-box;

              .rectangle-8-ADz {
                border-radius: 0 0 0.8rem 0.8rem;
                height: 2.4rem;
                left: 0;
                top: 5.6rem;
                border: solid 0.05rem #000000;
                width: 7rem;
                position: absolute;
                box-sizing: border-box;
                background-color: #fb2d00;
              }
              .min-H3i {
                height: 4.5rem;
                left: 2.3rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.2102272511;
                width: 2.5rem;
                position: absolute;
                top: 1.4rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';

                .min-H3i-sub-0 {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                }
                .min-H3i-sub-1 {
                  font-weight: 700;
                  line-height: 1.5;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1rem;
                }
              }
              .item-070--Pkx {
                width: 4rem;
                height: 1.8rem;
                top: 6rem;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                left: 1.5rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
              }
            }
          }
          .frame-2-pLU {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2.3rem;

            .komponet-listku-MLQ {
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;
              box-sizing: border-box;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #fafafa;
              border-radius: 0.8rem;
              width: 7rem;
              position: relative;
              border: solid 0.05rem #000000;

              .rectangle-8-Uvp {
                border-radius: 0 0 0.8rem 0.8rem;
                height: 2.4rem;
                position: absolute;
                border: solid 0.05rem #000000;
                box-sizing: border-box;
                background-color: #fb2d00;
                width: 7rem;
                left: 0;
                top: 5.6rem;
              }
              .min-bkY {
                line-height: 1.2102272511;
                color: #000000;
                position: absolute;
                left: 2.7rem;
                top: 1.4rem;
                font-size: 1.2rem;
                font-family: Inter, 'Source Sans Pro';
                width: 1.7rem;
                height: 4.5rem;
                text-align: center;
                font-weight: 700;

                .min-bkY-sub-0 {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                }
                .min-bkY-sub-1 {
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 1.5;
                }
              }
              .item-070--7sJ {
                width: 4rem;
                top: 6rem;
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                height: 1.8rem;
                position: absolute;
                left: 1.55rem;
                font-weight: 600;
                color: #000000;
                white-space: nowrap;
              }
            }
            .komponet-listku-yec {
              height: 100%;
              position: relative;
              box-sizing: border-box;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              width: 7rem;
              border: solid 0.05rem #000000;
              background-color: #fafafa;
              border-radius: 0.8rem;
              flex-shrink: 0;
              cursor: pointer;

              .rectangle-8-KyN {
                top: 5.6rem;
                box-sizing: border-box;
                height: 2.4rem;
                left: 0;
                border: solid 0.05rem #000000;
                background-color: #fb2d00;
                border-radius: 0 0 0.8rem 0.8rem;
                width: 7rem;
                position: absolute;
              }
              .min-3Pa {
                position: absolute;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                width: 2.6rem;
                left: 2.2rem;
                top: 1.4rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.2102272511;
                height: 4.5rem;

                .min-3Pa-sub-0 {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .min-3Pa-sub-1 {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .item-070--zCL {
                width: 4.6rem;
                height: 1.8rem;
                position: absolute;
                text-align: center;
                font-weight: 600;
                font-family: Poppins, 'Source Sans Pro';
                left: 1.2rem;
                top: 6rem;
                font-size: 1.2rem;
                line-height: 1.5;
                color: #000000;
                white-space: nowrap;
              }
            }
            .komponet-listku-rkL {
              width: 7rem;
              border: solid 0.05rem #000000;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              border-radius: 0.8rem;
              height: 100%;
              cursor: pointer;
              position: relative;
              box-sizing: border-box;
              background-color: #fafafa;
              flex-shrink: 0;

              .rectangle-8-D56 {
                height: 2.4rem;
                position: absolute;
                left: 0;
                top: 5.6rem;
                border: solid 0.05rem #000000;
                background-color: #fb2d00;
                width: 7rem;
                box-sizing: border-box;
                border-radius: 0 0 0.8rem 0.8rem;
              }
              .min-Ktp {
                position: absolute;
                text-align: center;
                font-size: 1.2rem;
                color: #000000;
                line-height: 1.2102272511;
                font-family: Inter, 'Source Sans Pro';
                width: 3.8rem;
                height: 4.5rem;
                left: 1.6rem;
                top: 1.4rem;
                font-weight: 700;

                .min-Ktp-sub-0 {
                  font-size: 2rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .min-Ktp-sub-1 {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .item-070--4V2 {
                top: 6rem;
                text-align: center;
                font-weight: 600;
                line-height: 1.5;
                white-space: nowrap;
                height: 1.8rem;
                position: absolute;
                font-size: 1.2rem;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                width: 5.4rem;
                left: 0.85rem;
              }
            }
          }
          .frame-1-JPN {
            column-gap: 2.3rem;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 8rem;
            display: flex;

            .komponet-listku-dwS {
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #fafafa;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 1.4rem;
              cursor: pointer;
              align-items: center;
              border: solid 0.05rem #000000;
              width: 7rem;
              height: 100%;
              display: flex;
              flex-direction: column;

              .min-xyi {
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-weight: 700;
                max-width: 3.6rem;

                .min-xyi-sub-0 {
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.4rem;
                  font-weight: 700;
                }
                .min-xyi-sub-1 {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .auto-group-geul-g2Y {
                border-radius: 0 0 0.8rem 0.8rem;
                flex-shrink: 0;
                width: 100%;
                font-weight: 600;
                line-height: 1.5;
                border: solid 0.05rem #000000;
                box-sizing: border-box;
                font-size: 1.2rem;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                color: #000000;
                height: 2.4rem;
                text-align: center;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                background-color: #bdf7ff;
              }
            }
            .komponet-listku-5aU {
              box-sizing: border-box;
              cursor: pointer;
              align-items: center;
              border: solid 0.05rem #000000;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #fafafa;
              flex-shrink: 0;
              padding-top: 1.4rem;
              width: 7rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              border-radius: 0.8rem;

              .min-DAt {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 6.5rem;
                text-align: center;
                font-weight: 700;
                line-height: 1.2102272511;
                margin-bottom: 0.6rem;
                font-size: 1.2rem;

                .min-DAt-sub-0 {
                  font-weight: 700;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.4rem;
                }
                .min-DAt-sub-1 {
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: rgba(0, 0, 0, 0.6999999881);
                }
              }
              .auto-group-jzfi-9ik {
                height: 2.4rem;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 600;
                line-height: 1.5;
                border: solid 0.05rem #000000;
                background-color: #bdf7ff;
                border-radius: 0 0 0.8rem 0.8rem;
                width: 100%;
                text-align: center;
                font-size: 1.2rem;
                display: flex;
                box-sizing: border-box;
                flex-shrink: 0;
                color: #000000;
                align-items: center;
                justify-content: center;
              }
            }
            .komponet-listku-Adr {
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              border-radius: 0.8rem;
              padding-top: 1.4rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              border: solid 0.05rem #000000;
              background-color: #fafafa;
              flex-shrink: 0;
              box-sizing: border-box;
              width: 7rem;
              cursor: pointer;
              align-items: center;

              .min-WSp {
                margin: 0rem 0rem 0.6rem 0.1rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 700;
                max-width: 5.3rem;
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;

                .min-WSp-sub-0 {
                  font-size: 1.4rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .min-WSp-sub-1 {
                  color: rgba(0, 0, 0, 0.6999999881);
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 1.5;
                }
              }
              .auto-group-sgr8-qtQ {
                font-size: 1.2rem;
                color: #000000;
                justify-content: center;
                border: solid 0.05rem #000000;
                flex-shrink: 0;
                line-height: 1.5;
                white-space: nowrap;
                box-sizing: border-box;
                background-color: #bdf7ff;
                border-radius: 0 0 0.8rem 0.8rem;
                display: flex;
                align-items: center;
                width: 100%;
                height: 2.4rem;
                text-align: center;
                font-weight: 600;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
  }
  .frame-azQ {
    box-sizing: border-box;
    padding: 0.976rem 4.8rem 0.65rem 4.4rem;
    width: 100%;
    position: relative;
    align-items: center;
    overflow: hidden;
    display: flex;
    border: solid 0.1rem rgba(0, 0, 0, 0.8000000119);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: rgba(237, 237, 237, 0.8000000119);
    flex-shrink: 0;

    .icon-contact-card-JfW {
      margin: 0rem 8.634rem 0.38rem 0rem;
      width: 3.5665rem;
      height: 2.7467rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-5zfe-1K2 {
      height: 3.95rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.424rem 8.616rem 0rem 0rem;
      width: 2.7535rem;
    }
    .icon-person-outline-X2U {
      margin-bottom: 1.0562rem;
      width: 3.2308rem;
      height: 3.3175rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
