
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
  font-size: 1.6rem;
  margin: 0 auto;
  height: 100%;
  background-color: #f5f5f5;
}.frame-kupa-listku-wRn {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.frame-kupa-listku-wRn .auto-group-jfj4-4mJ {
  width: 100%;
  height: 5.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #77007a;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA {
  box-sizing: border-box;
  padding: 8.3rem 1.3rem 6.9rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ {
  margin: 0rem 0.5rem 0.4rem 0rem;
  width: 32rem;
  height: 8.7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .rectangle-3-oMW {
  width: 32rem;
  height: 6.5rem;
  position: absolute;
  left: 0;
  top: 2.2rem;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .auto-group-ruku-hSt {
  box-sizing: border-box;
  padding: 0rem 1.8rem 0.2rem 1rem;
  width: 32rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .auto-group-ruku-hSt .vybran-lstok-1Ta {
  margin: 0rem 0rem 1.4rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .auto-group-ruku-hSt .auto-group-ayoi-hrC {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .auto-group-ruku-hSt .auto-group-ayoi-hrC .icon-ticket-pass-TKa {
  margin: 0.3rem 1rem 0rem 0rem;
  width: 2rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .auto-group-ruku-hSt .auto-group-ayoi-hrC .item-0-ZdZ {
  margin-right: 16.4rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .auto-group-ruku-hSt .auto-group-ayoi-hrC .item-0-ZdW {
  margin-right: 0.4rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .auto-group-ruku-hSt .auto-group-ayoi-hrC .item--67e {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .line-1-CgU {
  width: 32rem;
  height: 0.05rem;
  position: absolute;
  left: 0;
  top: 6.7rem;
  background-color: #000000;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .aktvne-listky-5gQ .zkladn-95v {
  width: 5.5rem;
  height: 1.8rem;
  position: absolute;
  left: 0.9rem;
  top: 6.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .lstok-nadobudne-platnos-ihne-po-zakpen-SKv {
  margin: 0rem 0rem 6.3rem 0.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ff7a00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC {
  margin: 0rem 0.7rem 6.3rem 0rem;
  box-sizing: border-box;
  padding: 3.1rem 1rem 1.8rem 1rem;
  width: 32rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.05rem #000000;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-79xr-PeU {
  margin-right: 16.6rem;
  width: 8.6rem;
  height: 3.9rem;
  position: relative;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-79xr-PeU .stav-kreditu--LJp {
  width: 8.6rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-79xr-PeU .k-hrade--3U8 {
  width: 6.6rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-36xt-MUp {
  margin-bottom: 0.2rem;
  width: 3.5rem;
  height: 4.2rem;
  position: relative;
  flex-shrink: 0;
  right: 0.5rem;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-36xt-MUp .item-430-6hJ {
  width: 3.5rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-36xt-MUp .item-0-cvY {
  width: 3.5rem;
  height: 2.4rem;
  position: absolute;
  left: 0rem;
  top: 1.8rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-hrx4-jEU {
  margin-bottom: 0.2rem;
  width: 1.3rem;
  height: 4.2rem;
  position: relative;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-hrx4-jEU .item--TAU {
  width: 1.3rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .auto-group-bd3i-dvC .auto-group-hrx4-jEU .item--kvG {
  width: 1.3rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .line-3-Fs2 {
  margin-bottom: 2.5rem;
  width: 30rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .platba-kreditom-CXN {
  box-sizing: border-box;
  padding: 0.9rem 19.7rem 0.7rem 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.05rem #000000;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .platba-kreditom-CXN .icon-wallet-XZe {
  margin: 0rem 1.081rem 0.03rem 0rem;
  width: 1.9188rem;
  height: 1.7703rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .auto-group-k9el-LgC .platba-kreditom-CXN .zaplati-e8U {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-byiq-ZTA .icon-back-square-JTv {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-rgf6-qTr {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0.976rem 4.8rem 0.65rem 4.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.8000000119);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(237, 237, 237, 0.8000000119);
  flex-shrink: 0;
  justify-content: center;
}
.frame-kupa-listku-wRn .auto-group-rgf6-qTr .icon-contact-card-AFE {
  margin: 0.37rem 8.634rem 0rem 0rem;
  width: 3.5665rem;
  height: 2.7467rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-rgf6-qTr .icon-receipt-HKr {
  margin: 0.424rem 8.616rem 0rem 0rem;
  width: 2.7535rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-kupa-listku-wRn .auto-group-rgf6-qTr .icon-person-outline-p4t {
  margin-bottom: 0.3062rem;
  width: 3.2308rem;
  height: 3.3175rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}


@media only screen and (max-width: 1920px) {
  body {
    width: 100%;
    font-size: 1.4rem;
  }

  .nakup-listka-zavnen-Cda .auto-group-7lqc-1L8 {
    padding: 1.5rem 1rem;
  }

}
